In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/content/3.01. Country clusters.csv")

In [3]:
data.head()

   Country  Latitude  Longitude Language
0      USA     44.97    -103.77  English
1   Canada     62.40     -96.80  English
2   France     46.75       2.40   French
3       UK     54.01      -2.53  English
4  Germany     51.15      10.40   German

In [4]:
x=data.iloc[:,1:3] #only 1st and 2nd columns we will use to cluster the given countries

In [5]:
x

   Latitude  Longitude
0     44.97    -103.77
1     62.40     -96.80
2     46.75       2.40
3     54.01      -2.53
4     51.15      10.40
5    -25.45     133.11

In [6]:
from sklearn.cluster import KMeans

In [7]:
kmeans=KMeans(3) # 3 denotes the number of clusters

In [8]:
kmeans.fit(x) #training the model

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [9]:
identified_clusters=kmeans.fit_predict(x)

In [10]:
print(identified_clusters)

[2 2 0 0 0 1]