In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd

In [2]:
#load and read the dataset
data=pd.read_csv("/content/insurance.csv")

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
#data preprocessing

#one hot encoding - categorical variables ---> numerical variables
data['sex']=data['sex'].apply({'male':1,'female':0}.get)

In [7]:
data.head()

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

In [8]:
data['smoker']=data['smoker'].apply({'yes':1,'no':0}.get)
data['region']=data['region'].apply({'southeast':1,'southwest':2,'northeast':3,'northwest':4}.get)

In [9]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       2  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       4  21984.47061
4   32    1  28.880         0       0       4   3866.85520

In [10]:
#dividing the data into dependent and independent columns

X=data[['age','sex','bmi','children','smoker','region']] #independent columns are stored here

y=data['charges'] #dependent columns are stored here

In [11]:
X.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       2
1   18    1  33.770         1       0       1
2   28    1  33.000         3       0       1
3   33    1  22.705         0       0       4
4   32    1  28.880         0       0       4

In [12]:
#splitting the data
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2) #20 percent of the data will be used for testing and remaining 80 percent for training

In [13]:
#model building using linear regression
from sklearn.linear_model import LinearRegression

In [14]:
model=LinearRegression()
model.fit(X_train,y_train) #training is taking place

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
#predictions using linear regression
predictions=model.predict(X_test)

In [17]:
#accuracy
model.score(X,y) #R2 Score

0.7499789261127705

In [26]:
#new data for a new customer
data_new={'age':55,'sex':0,'bmi':27,'children':3,'smoker':1,'region':3} #new dataset
index=[1]
my_data=pd.DataFrame(data_new,index)

In [27]:
my_data

   age  sex  bmi  children  smoker  region
1   55    0   27         3       1       3

In [28]:
#predicting charges on my new data
new_data_prediction=model.predict(my_data)

In [29]:
print("the charges allocated to the new customer is",new_data_prediction)

the charges allocated to the new customer is [36385.03778414]